﻿@model Presentation.ViewModels.ActivityViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>activity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time_start)
        </dt>

        <dd>
            model.time_start
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time_end)
        </dt>

        <dd>
            model.time_end
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Place.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
