﻿@model Presentation.ViewModels.PlaceViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>place</h4>
    <hr />
    <img src="@ViewBag.imgSrc" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.location_x)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location_x)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.location_y)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location_y)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.googleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.googleId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
