﻿@model Presentation.ViewModels.PlaceViewModel

@{
    ViewBag.Title = "Details";
    if (Model.googleId == null)
    {
        ViewBag.q = ViewBag.mapQ;
    }
    else
    {
        ViewBag.q = "place_id:" + Model.googleId;
    }
}


<!-- content
   ================================================== -->
<section id="content-wrap" class="blog-single">
    <div class="row">
        <div class="col-twelve">

            <article class="format-standard">

                <div class="content-media">
                    <div class="post-thumb">
                        <img src="@ViewBag.imgSrc">
                    </div>
                </div>

                <div class="primary-content">
                    <h1 class="page-title">@Model.name</h1>
                    @Html.DisplayFor(model => model.description)
                    <h2>Map:</h2>
                    <p>
                        <iframe width="600"
                                height="450"
                                frameborder="0" style="border:0"
                                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAzOVcF6vcFTRzUQdFRW44oZNZStWYqyxI&q=@ViewBag.q" allowfullscreen></iframe>
                    </p>
                    <hr/>
                    <h2>Activities</h2>
                    <div class="row masonry">

                        <!-- brick-wrapper -->
                        <div class="bricks-wrapper">

                            <div class="grid-sizer"></div>
                            @foreach (var item in Model.activities)
                            {
                               <article class="brick entry format-standard animate-this">

                                     <div class="entry-text">
                                        <div class="entry-header">
                                            <h2>@item.name</h2>
                                        </div>
                                         <hr />
                                        <div class="entry-excerpt">
                                            <p>Time: @item.time_start - @item.time_end</p>
                                        </div>
                                    </div>

                                </article> <!-- end article -->
                            }

                        </div> <!-- end brick-wrapper -->

                    </div> <!-- end row -->
                    <hr/>
                    <h2>Hotels</h2>
                    <div class="row masonry">

                        <!-- brick-wrapper -->
                        <div class="bricks-wrapper">

                            <div class="grid-sizer"></div>
                            @foreach (var item in Model.hotels)
                            {
                                <article class="brick entry format-standard animate-this">

                                    <div class="entry-text">
                                        <div class="entry-header">
                                            <h2>@item.name</h2>
                                        </div>
                                        <div class="entry-excerpt">
                                            <p><strong>@item.price VND</strong></p>
                                            <p>Contact: @item.contact</p>
                                            <p>Contact: @item.link</p>
                                        </div>
                                    </div>

                                </article> <!-- end article -->
                            }

                        </div> <!-- end brick-wrapper -->

                    </div> <!-- end row -->
                    <hr />
                    <h2>Get in</h2>
                    <div class="row masonry">

                        <!-- brick-wrapper -->
                        <div class="bricks-wrapper">

                            <div class="grid-sizer"></div>
                            @foreach (var item in Model.arrivals)
                            {
                                <article class="brick entry format-standard animate-this">

                                    <div class="entry-text">
                                        <div class="entry-header">
                                            <h2>@item.name</h2>
                                        </div>
                                        <div class="entry-excerpt">
                                            <p><strong>From: <a href="@Url.Action("Details","Home", new { id=item.departureId })">@item.Departure.name</a></strong></p>
                                            <i>@item.price VND</i>
                                            <p>@item.timetable</p>
                                        </div>
                                    </div>

                                </article> <!-- end article -->
                            }

                        </div> <!-- end brick-wrapper -->

                    </div> <!-- end row -->
                    <h2>Get out</h2>
                    <div class="row masonry">

                        <!-- brick-wrapper -->
                        <div class="bricks-wrapper">

                            <div class="grid-sizer"></div>
                            @foreach (var item in Model.departures)
                            {
                                <article class="brick entry format-standard animate-this">

                                    <div class="entry-text">
                                        <div class="entry-header">
                                            <h2>@item.name</h2>
                                        </div>
                                        <div class="entry-excerpt">
                                            <p><strong>Destination: <a href="@Url.Action("Details","Home", new {id=item.arrivalId })">@item.Arrival.name</a></strong></p>
                                            <i>@item.price VND</i>
                                            <p>@item.timetable</p>
                                        </div>
                                    </div>

                                </article> <!-- end article -->
                            }

                        </div> <!-- end brick-wrapper -->

                    </div> <!-- end row -->
                </div>  

            </article>


        </div> <!-- end col-twelve -->
    </div> <!-- end row -->
</section> <!-- end content -->

