﻿@model IEnumerable<Presentation.ViewModels.PlaceViewModel>
@{
    ViewBag.Title = "Home Page";
}

<section id="bricks">

    <div class="row masonry">

        <!-- brick-wrapper -->
        <div class="bricks-wrapper">

            <div class="grid-sizer"></div>
@foreach (var item in Model)
{
    byte[] image = item.image;
    var imgSrc = String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(image));

                <article class="brick entry format-standard animate-this">

                <div class="entry-thumb">
                    <a href="@Url.Action("Details", "Home",new { id = item.id })" class="thumb-link">
                        <img src="@imgSrc" />
                    </a>
                </div>

                <div class="entry-text">
                    <div class="entry-header">
                        <h1 class="entry-title">@Html.ActionLink(item.name, "Details", new { id = item.id })</h1>
                    </div>
                    <div class="entry-excerpt">
                        @item.description.Substring(0, 149);
                    </div>
                </div>

            </article> <!-- end article -->
}

        </div> <!-- end brick-wrapper -->

    </div> <!-- end row -->



</section>