﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/pace")
    @Scripts.Render("~/bundles/fonts")
</head>
<body id="top">

    <!-- header
    ================================================== -->
    <header class="short-header">

        <div class="gradient-block"></div>

        <div class="row header-content">
            <nav id="main-nav-wrap">
                <ul class="main-navigation sf-menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Places", "Index", "Home")</li>
                    @Html.Partial("_LoginPartial")
                </ul>
            </nav> <!-- end main-nav-wrap -->

        </div>

    </header> <!-- end header -->
    <!-- masonry
    ================================================== -->
     <!-- end bricks -->
    <!-- footer
    ================================================== -->
    <div class="container body-content">
        @RenderBody()
    </div>
        <footer>

            <div class="footer-main">

            </div> <!-- end footer-main -->

            <div class="footer-bottom">
                <div class="row">

                    <div class="col-twelve">
                        <div class="copyright">
                            <span>© SEMINAR CÁC CÔNG NGHỆ LẬP TRÌNH HIỆN ĐẠI</span>
                            <span>Mai Huynh/3113410042 | Vo Huy Kha/3113410047</a></span>
                        </div>

                        <div id="go-top">
                            <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon icon-arrow-up"></i></a>
                        </div>
                    </div>

                </div>
            </div> <!-- end footer-bottom -->

        </footer>

        <div id="preloader">
            <div id="loader"></div>
        </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/main")
    @RenderSection("scripts", required: false)

    <script type="application/x-javascript">
        tinymce.init({selector:'textarea'});
    </script>
</body>
</html>
